<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
      <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <style>
         html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
      </style>
   </head>
   <body class="w3-theme-l5">
      <!-- Navbar -->
      <div class="w3-top">
         <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
            <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Home</a>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i></a>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
            <div class="w3-dropdown-hover w3-hide-small">
               <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">3</span></button>     
               <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
                  <a href="#" class="w3-bar-item w3-button">Comment</a>
                  <a href="#" class="w3-bar-item w3-button">like</a>
                  <a href="#" class="w3-bar-item w3-button">Share</a>
               </div>
            </div>
            <a href="http://127.0.0.1:3000/sessions/new" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white">
            <%= button_to "Logout", sessions_destroy_path, methed: :delete %> 
            </a>
         </div>
      </div>
      <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
         <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
      </div>
      <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
      <!-- The Grid -->
      <div class="w3-row">
      <!-- Left Column -->
      <div class="w3-col m3">
         <!-- Profile -->
         <div class="w3-card w3-round w3-white">
            <div class="w3-container">
               <h4 class="w3-center">My Profile</h4>
               <p class="w3-center"> <%= @user.email %></p>
               <hr>
               <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Developer, India</p>
               <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> New Delhi</p>
               <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> June 1, 2022</p>
            </div>
         </div>
         <br>
         <br>
         <div class="w3-card w3-round w3-white w3-hide-small">
            <div class="w3-container">
               <p>Interests</p>
               <p>
                  <span class="w3-tag w3-small w3-theme-l3">Coding</span>
                  <span class="w3-tag w3-small w3-theme-l4">Art</span>
                  <span class="w3-tag w3-small w3-theme-l5">Photos</span>
               </p>
            </div>
         </div>
         <br>
         <!-- Alert Box -->
         <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
            <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
            <i class="fa fa-remove"></i>
            </span>
            <p><strong>Hey!</strong></p>
            <p>People are looking at your profile. Find out who.</p>
         </div>
      </div>
      <div class="w3-col m7">
      <div class="w3-row-padding">
         <div class="w3-col m12">
            <div class="w3-card w3-round w3-white">
               <div class="">
                  <div class="w3-container w3-card w3-white w3-round w3-margin">
                     <br>
                     <span class="w3-right w3-opacity">1 min</span>
                     <h4>Saurabh</h4>
                     <br>
                     <hr class="w3-clear">
                     <p>Positive thinking just means that you approach unpleasantness in a more positive and productive way. You think the best is going to happen, not the worst. Positive thinking often starts with self-talk. Self-talk is the endless stream of unspoken thoughts that run through your head.</p>
                     <div class="w3-row-padding" style="margin:0 -16px">
                     </div>
                     <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
                     <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
                  </div>
                  <div class="w3-container w3-card w3-white w3-round w3-margin">
                     <br>
                     <span class="w3-right w3-opacity">16 min</span>
                     <h4>Siddharth</h4>
                     <br>
                     <hr class="w3-clear">
                     <p>Positive thinking is important because it can have a beneficial impact on both physical and mental well-being.People who maintain a more positive outlook on life cope better with stress, have better immunity.</p>
                     <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
                     <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script>
         function myFunction(id) {
           var x = document.getElementById(id);
           if (x.className.indexOf("w3-show") == -1) {
             x.className += " w3-show";
             x.previousElementSibling.className += " w3-theme-d1";
           } else { 
             x.className = x.className.replace("w3-show", "");
             x.previousElementSibling.className = 
             x.previousElementSibling.className.replace(" w3-theme-d1", "");
           }
         }
         
         function openNav() {
           var x = document.getElementById("navDemo");
           if (x.className.indexOf("w3-show") == -1) {
             x.className += " w3-show";
           } else { 
             x.className = x.className.replace(" w3-show", "");
           }
         }
      </script>
   </body>
</html>