<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  background-color: #0c1e10;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: green;
  color: black;
}
</style>
</head>
<body>
<h3>.</h3>
<div id="navbar">
  <a class="nav-link disabled" href=""> Tecorb Technology</a>	
  <a href="http://127.0.0.1:3000/">Home</a>
  <a style="float: right;" href="http://127.0.0.1:3000/users/new">Signup</a>
  <a style="float: right;" href="http://127.0.0.1:3000/sessions/new">Login</a>
</div>



<script>
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("navbar").style.top = "0";
  } else {
    document.getElementById("navbar").style.top = "-50px";
  }
  prevScrollpos = currentScrollPos;
}
</script>

</body>
</html>
